/*----------------
	General
-----------------*/
* {
	box-sizing: border-box;
	
}
/* Remove outline > Apply other styles for accessibility */
:focus {
	outline: none;
}
html, body {
	height: 100%;
  width: 100%;
  background: #86B9E0;
  margin: 0!important;
  padding: 0!important;
}
body {
	color: #fff;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	position: relative;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	text-align: center;
}
a {
	color: #6D8CA0;
	font-weight: 700;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
footer {
	color: rgba(255,255,255,0.6);
	font-size: 0.8rem;
	letter-spacing: 0.07em;
	line-height: 2;
	padding: 30px 0;
	width: 100%;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
#lastUpdated {
	color: #fff;
	padding: 5% 0;
}
#lastUpdated:before {
	content: '-- ';
}
#lastUpdated:after {
	content: ' --';
}

/*----------------
	Containers
-----------------*/
.wrapper {
	color: #fff;
	overflow: auto;
	width: 100%;
}

/*----------------
	Status Bar
-----------------*/
#status {
	background-color: #FFECAE;
	color: rgba(0,0,0,0.5);
	display: none;
	font-size: 1rem;
	width: 100%;
	z-index: 100;
}
#status p {
	display: inline-block;
	padding: 10px 40px 6px;
}
#status a {
	color: #fff;
}
#status .close {
	background: none;
	color: rgba(0,0,0,0.5);
	float: right;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
/*** Error & Success Messages ***/
#status.error {
	background-color: #EE9797;
}
#status.success {
	background-color: #82C886;
}
#status.error, #status.error .close,
#status.success, #status.success .close {
	color: #fff;
}
#status.error .fa-exclamation-triangle,
#status.success .fa-check-circle {
	margin-right: 10px;
}

/*----------------
	Buttons
-----------------*/
button {
	border: none;
	cursor: pointer;
}
nav#vertical {
	font-size: 1rem;
	margin: 0 auto;
	padding: 5% 0 10%;
}
#locateBtn, #unitBtn {
	background: none;
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 50%;
	color: #fff;
	height: 40px;
	transition: background 1s ease-in-out, border 0.2s ease-in-out;
	width: 40px;
}
#locateBtn.on, #unitBtn.on {
	background: rgba(255,255,255,0.25);
}
#locateBtn:focus, #locateBtn:hover, #unitBtn:focus, #unitBtn:hover {
	border: 1px solid rgba(255,255,255,0.75);
}
#locateBtn {
	margin-right: 10px;
}
#unitBtn {
	font-weight: 300;
	padding-right: 3px;
	padding-top: 2px;
	text-transform: uppercase;
}
#unitBtn:before {
	content: '\00b0'; /* Degree symbol */
	padding: 1px;
}
/* locateBtn Pulse Animation */
#locateBtn.pulse {
	animation: pulse 2s infinite;
}
@keyframes pulse {
	20% { background: rgba(255,255,255,0.25); }
}

/*----------------
	Current Weather
-----------------*/
#current {
	padding: 10% 5% 20%;
	position: relative;
}
.location {
	font-size: 2em;
	font-weight: 700;
	margin: 0;
}
.date {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
}
#current .weatherIcon {
	height: 100px;
	margin: 10% auto 7%;
	width: 100px;
}
.temp {
	font-size: 3em;
	line-height: 1.3;
}
.temp:after {
	content: '\00b0';
	margin-right: -0.3em;
}
#current .conditions {
	font-size: 1.2em;
	text-transform: uppercase;
}

/*----------------
	Future Forecast
-----------------*/
#future {
	margin-bottom: 10%;
	padding: 0 10%;
}
#future > .container {
	border-bottom: 1px solid rgba(255,255,255,0.25);
	margin: 0;
	padding: 5% 10%;
	width: 100%;
}
#future > .container:first-child {
	border-top: 1px solid rgba(255,255,255,0.25);
}
#future .day {
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}
#future .weatherIcon {
	float: right;
	font-size: 0.5em;
	height: 50px;
	margin-left: 10%;
	margin-top: -5%;
	width: 50px;
}
#future p { text-align: left; }
.high:after, .low:after {
	content: '\00b0';
	padding: 1px;
}

/*----------------
	Media Queries
-----------------*/
@media (min-width: 375px) {
	nav#vertical {
		left: 5%;
		position: absolute;
		top: 10%;
	}
	#locateBtn, #unitBtn {
		display: block;
		margin-bottom: 10px;
	}
	#current { 
		padding-bottom: 15%;
		padding-top: 15%;
	}
}
@media (min-width: 550px) {
	nav#vertical { top: 8%; }
	/* Current Weather */
	#current { 
		font-size: 1.3rem;
		padding-bottom: 10%;
		padding-top: 10%;
	}
	.date, #current .conditions { font-size: 0.9em;}
	#current .weatherIcon {
		font-size: 0.95em;
		height: 120px;
		margin: 7% auto 3%;
		width: 120px;
	}
	/* Future Forecast */
	#future {
		font-size: 1.1rem;
		padding: 0;
		margin-bottom: 3%;
	}
	#future > .container {
		border-bottom: none;
		float: left;
		padding: 20px;
		width: 33.33%; 
	}
	#future > .container:first-child { border-top: none; }
	#future > .container:not(:last-child) { border-right: 1px solid rgba(255,255,255,0.25); }
	#future .day, #future p { text-align: center; }
	#future .weatherIcon {
		font-size: 0.56em;
		float: none;
		height: 60px;
		margin: 10% auto 5%;
		width: 60px;
	}
	footer { 
		font-size: 0.9rem; 	
	}
	footer p {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}
@media (min-width: 880px) {
	nav#vertical#vertical { top: 5%; }
	#current {
		font-size: 1.5rem;
		padding-bottom: 7%;
		padding-top: 7%;
	}
	#current .weatherIcon {
		font-size: 0.82em;
		margin: 5% auto 2%;
	}
	#lastUpdated {
		padding: 3%;
	}
}
.card {
	background: transparent;
	border-color: transparent!important;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.3em;
}
.clear {
	background: #e67e22!important
}

.clouds {
	background: #f39c12!important
}
.scattered {
	background: #f1c40f!important
}

.broken {
	background: #3498db!important
}

.shower {
	background: #bdc3c7!important
}

.rain {
	background: #95a5a6!important
}
.thunderstorm {
	background: #34495e!important
}

.snow {
	background: #7f8c8d!important
}
.mist {
	background: #7f8c8d!important
}

.night {
	background: #2c3e50!important
}